/*font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Playfair Display', serif;*/

:root {
  --primary-color: #8c2828;
  --secondary-color: #51504e;
  --tertiary-color: #201f1d;
  --supplementary-color: #9a9792;
  --heading-font-family: "Mochiy Pop One", sans-serif;
  --paragraph-font-family: "Playfair Display", serif;
}

h1,
h2,
h3,
p {
  color: white;
}

h1 {
  text-align: center;
  font-family: var(--heading-font-family);
}

a {
  font-family: var(--paragraph-font-family);
}

button a {
  text-decoration: none;
}

p {
  text-align: center;
  font-family: var(--paragraph-font-family);
}

.heading {
  font-family: var(--heading-font-family);
}

.paragraph {
  font-family: var(--paragraph-font-family);
}

.wrap {
  padding-top: 160px;
  padding-bottom: 40px;
}

.about-wrap {
  padding-top: 100px;
  padding-bottom: 40px;
}

.about-wrap-b {
  padding-top: 80px;
  padding-bottom: 20px;
}

.holder {
  background-color: var(--secondary-color);
}

.about-holder {
  background-color: var(--primary-color);
}
.about-text {
  color: #201f1d;
  line-height: 1.2;
}
.about-grid-a {
  background-color: var(--primary-color);
}

.about-grid-a .heading {
  color: var(--supplementary-color);
  font-size: 32px;
}

.about-grid-c {
  background-color: none;
}
.about-grid-c .paragraph {
  font-size: 20px;
  color: var(--supplementary-color);
}
.home-img {
  border-radius: 100px;
}

.footer {
  background-color: var(--supplementary-color);
  color: white;
}

.services-grid {
  background-color: var(--tertiary-color);
}

.skill {
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.inner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-weight: 600;
  color: #8c2828;
}
circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}
.bootstrap {
  animation: bootstrap-anim 2s linear forwards;
}
.javascript {
  animation: javascript-anim 2s linear forwards;
}
.react {
  animation: react-anim 2s linear forwards;
}
.seo {
  animation: seo-anim 2s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes anim {
  100% {
    stroke-dashoffset: 71;
  }
}
@keyframes bootstrap-anim {
  100% {
    stroke-dashoffset: 94;
  }
}
@keyframes javascript-anim {
  100% {
    stroke-dashoffset: 118;
  }
}
@keyframes react-anim {
  100% {
    stroke-dashoffset: 142;
  }
}
@keyframes seo-anim {
  100% {
    stroke-dashoffset: 142;
  }
}
.skills-grid {
  background-color: var(--supplementary-color);
  padding-top: 60px;
}

.services-holder {
  background-color: var(--tertiary-color);
  padding-top: 60px;
}

.services-holder .paragraph {
  font-size: 24px;
}

.portfolio-holder {
  background-color: var(--supplementary-color);
  padding-top: 100px;
}

.media-link a {
  text-decoration: none;
}

.contact-wrap {
  padding-top: 100px;
  padding-bottom: 82px;
}

@media (max-width: 900px) {
  .wrap {
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .about-wrap .home-img {
    margin: 0px;
    padding: 0px;
  }

  .paragraph {
    font-size: 16px;
    font-family: var(--paragraph-font-family);
  }

  .about-wrap {
    padding-top: 60px;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }

  .about-wrap button {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .about-grid-a .heading {
    text-align: center;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    line-height: 1;
  }

  .about-grid-a {
    padding-top: 10px;
    margin: 0px;
  }
  .about-img {
    padding: 0px;
    margin: 0px;
  }

  .services-grid .heading {
    text-align: center;
  }

  .services-grid h2 {
    padding: 0px;
    margin: 0px;
  }
  .services-wrap h5 {
    font-size: 16px;
  }

  .services-wrap {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .services-holder {
    padding: 0px;
    margin: 0px;
  }

  .services-holder .heading,
  .paragraph {
    text-align: center;
  }

  .portfolio-content,
  .portfolio-content h2 {
    margin: 0px;
    padding: 0px;
  }

  .contact-wrap .heading {
    font-size: 24px;
  }

  .contact-wrap {
    margin-top: 40px;
    padding-top: 45px;
    padding-bottom: 60px;
  }

  .contact-wrap .paragraph {
    text-align: center;
  }
}
